{% extends "base_admin.html" %}

{% block base_admin %}
<title>Status CRUD</title>

<table cellpadding="20">
        <tr>
            <td width="1200"><h3>Welcome, {{username}}</h3></td>
            <td><h3><a href="/logout">Logout</a></h3></td>
        </tr>
    </table>
    <hr size="3px" style="color:red;">

    <h2>Status Crud Operation</h2>

        {% if msg %}
        <h3>{{msg}}</h3> <br>
        {% endif %}
        <form action="/admin/status/save" method="post">
            Status Id : <input type="text" value="{{status.id}}" name="sid"> <br><br>
            Status Name : <input type="text" value="{{status.status}}" name="sname"> <br><br>
            <input type="submit" class="btn btn-success" value="Add/Update Status">
        </form>

        <hr> <br>
    <table border="1" cellpadding="5px">
        <thead>
                <th>Status Id</th> <th>Status Name</th><th>Action</th>
        </thead>
        <tbody>
                {% for status in statuses %}
                <tr>
                    <td>{{status.id}}</td>
                    <td>{{status.status}}</td>
                    <td>
                       <a href="/admin/status/edit/{{status.id}}">Edit </a>/
                        <a href="/admin/status/delete/{{status.id}}">Delete</a>
                    </td>
                </tr>
                {% endfor %}

        </tbody>
    </table>

{% endblock %}