{% extends 'base_user.html' %}

{% block base_user_image %}
    {% if image_name %}
        <img src="{{ url_for('static', filename=image_name ) }}" width="200" />
    {% endif %}
{% endblock %}


{% block base_user %}

<title>All Batches</title>

    <table cellpadding="20">
        <tr>
            <td width="1200"><h3>Welcome, {{username}}</h3></td>
            <td><h3><a href="/logout">Logout</a></h3></td>
        </tr>
    </table>
    <hr size="3px" style="color:red;">

    <h3>All Available Batches</h3>

    {% if all_batches %}
    <table border="1" cellpadding="5px">
        <thead>
                <th>Batch Id</th>
                <th>Batch Name</th>
                <th>Start Date</th>
                <th>Course</th>
        </thead>
        <tbody>
                {% for bat in all_batches %}
                <tr>
                    <td>{{bat.id}}</td>
                    <td>{{bat.bcode}}</td>
                    <td>{{bat.start_date}}</td>
                    <td>{{bat.courseref[0].name}}</td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
    <br><br>
    {% endif %}
{% endblock %}
